:root {
  --primary-text-color: #757575;
  --primary-tittle-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --color-logo-black: #000000;
  --bg-color: #2f303a;
  --hero-btn-color: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --active-btn-bg-color: #f5f4fa;
  --team-bg-color: #f5f4fa;
  --border-color: #eeeeee;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
