.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-list__item {
  width: 450px;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.card-list__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: var(--active-btn-bg-color);
  border-radius: 4px;
  color: var(--primary-tittle-color);
}

.card-list__icon {
  fill: currentColor;
}

.card-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-tittle-color);
  @include tablet {
    text-align: left;
  }
  @include desktop {
    text-align: left;
  }
}

.card-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
